<div *ngIf="historyElement.length > 0">
    <h2 style="padding: 5px; text-align: center">The latest events about {{studentElement.last_name}} {{studentElement.first_name}}</h2>
    <prez-student-history-list
        (refreshEmitter)="initData()"
        [classroomElement]="classroomElement"
        [historyElement]="historyElement"></prez-student-history-list>
</div>

<div *ngIf="historyElement.length == 0" style="color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh">
    <mat-icon>update_disabled</mat-icon>
    <h1>Nothing to display</h1>
</div>
