<div *ngIf="lessonElements && lessonElements.length > 0">
    <div *ngFor="let lesson of lessonElements" style="padding: 2px">
        <mat-card>
            <mat-card-title>{{lesson.description}}</mat-card-title>
            <mat-card-subtitle>
                <div>
                    Start :{{lesson.start_at | date:"short"}} | End:{{lesson.end_at | date:"short"}}
                </div>
                <div>
                    Status :
                    <span *ngIf="lesson.register.signature ; else elseBlock" style="color: green">
                    Done
                </span>
                    <ng-template #elseBlock>
                        <span style="color: red">Unsigned</span>
                    </ng-template>
                </div>
                <button (click)="openDialog(lesson)" class="register" mat-button style="color: #2daae1">
                    <mat-icon style="margin-right: 2px">schedule</mat-icon>
                    Details
                </button>
            </mat-card-subtitle>
            <!-- <mat-card-actions>
                <button mat-button (click)="openDialog(registered)">show details</button>
            </mat-card-actions> -->
        </mat-card>
        <!--
            <mat-divider style="padding: 5px"></mat-divider>
        -->
    </div>

</div>

<div *ngIf="lessonElements && lessonElements.length == 0" style="color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh">
    <mat-icon>update_disabled</mat-icon>
    <h1>Nothing to display</h1>
</div>
