<div *ngIf="registerElement">
    <prez-register-student-list [registeredStudents]="registerElement.registered_students"></prez-register-student-list>
    <div *ngIf="registerElement.signature">
        <mat-card>
            <mat-card-title-group>
                <mat-card-title>PROFESSOR: </mat-card-title>
                <img [src]="registerElement.signature" mat-card-sm-image >
            </mat-card-title-group>
        </mat-card>
    </div>
    <div *ngIf="!registerElement.signature">
        <span style="color: red; font-style: italic">The professor did not sign the register yet</span>
    </div>
</div>
