<mat-toolbar *ngIf="classroomElements" style="background-color: white">
    <prez-classroom-select
        (classroomEmitter)="setClassroomFilter($event)"
        *ngIf="classroomElements"
        [classroomElements]="classroomElements"
        [classroomSelected]="lessonFilter.classroom"
        style="padding: 5px"></prez-classroom-select>
    <span class="spacer"></span>
    <prez-professor-select
        (professorEmitter)="setProfessorFilter($event)"
        *ngIf="professorElements"
        [professorElements]="professorElements"
        [professorSelected]="lessonFilter.professor"></prez-professor-select>
</mat-toolbar>
