<div style="height: 100%; display: flex; flex-direction: column">
    <h2 mat-dialog-title style="flex: 1">
        <div>
            <span>
                <mat-icon>person_add</mat-icon>
                <span style="color: gray">  Provide new professor account</span>
            </span>
        </div>
    </h2>
    <mat-dialog-content class="mat-typography" style="flex: 1">
        <prez-admin-provide-professor></prez-admin-provide-professor>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Close</button>
    </mat-dialog-actions>
</div>
