<div style="height: 100%; display: flex; flex-direction: column">
    <h2 mat-dialog-title style="flex: 1">
        <div *ngIf="classroomElement" style="flex: 1">
            <span style="color: #2daae1">{{classroomElement.promotion}}</span>
            <span>{{classroomElement.description}}</span>
        </div>
    </h2>
    <mat-dialog-content class="mat-typography"  style="flex: 1; width: 60vh">
        <div id="htmlData">
            <prez-lesson-detail *ngIf="lessonElement" [lessonElement]="lessonElement" style="flex: 1"></prez-lesson-detail>
            <div *ngIf="lessonElement?.register?.registered_students.length > 0" >
                <mat-divider></mat-divider>
                <prez-register-detail [registerElement]="lessonElement.register"></prez-register-detail>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <mat-spinner *ngIf="deleteLoading" diameter="20"></mat-spinner>
        <span *ngIf="deleteMessage" style="color: green">{{deleteMessage}}</span>
        <span *ngIf="errorMessage" style="color: red">{{errorMessage}}</span>
        <button (click)="deleteLesson()" *ngIf="!errorMessage && !deleteMessage" mat-button>
            delete lesson
            <mat-icon>delete</mat-icon>
        </button>
        <button (click)="openPDF()" *ngIf="lessonElement?.register?.registered_students.length > 0" mat-button>
            download
            <mat-icon>file_download</mat-icon>
        </button>
        <button mat-button mat-dialog-close>Close</button>
    </mat-dialog-actions>
</div>
