<div>
    <button (click)="logout()" class="logout" color="warn" mat-button>
        <mat-icon style="margin-right: 2px">logout</mat-icon>
        Logout
    </button>
    <div style="display: flex; flex-direction: column">
        <prez-admin-logo style="display: flex; flex-direction: row"></prez-admin-logo>
        <mat-tab-group  (selectedIndexChange)="indexSelected = $event"
                        [selectedIndex]="indexSelected"
                        color="warn" mat-align-tabs="center"
                        style="margin-top: 10px; flex: 1; display: flex; flex-direction: column">
            <div style="flex: 1">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon style="margin-right: 5px">groups</mat-icon>
                        Students
                    </ng-template>
                    <prez-admin-classrooms-screen
                        (classroomEmitter)="classroomLessonTabNavigate($event)"
                        style="flex: 1;"></prez-admin-classrooms-screen>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon style="margin-right: 5px">group</mat-icon>
                        Professors
                    </ng-template>
                    <prez-admin-professor-screen
                        (professorEmitter)="professorLessonTabNavigate($event)"></prez-admin-professor-screen>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon style="margin-right: 5px">school</mat-icon>
                        Lessons
                    </ng-template>
                    <prez-admin-lesson-screen [lessonFilter]="lessonFilter"></prez-admin-lesson-screen>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon style="margin-right: 5px">notifications</mat-icon>
                        Notifications
                    </ng-template>
                </mat-tab>
            </div>
        </mat-tab-group>
    </div>

</div>
