<!--<div *ngIf="data.lessonElement">

    <mat-card *ngFor="let student of data.lessonElement.register.registered_students" style="padding: 5px">
        <div>
            {{student.student.first_name}}  {{student.student.last_name}}
        </div>
        <div>
            <div>
                {{student.status}}
            </div>
        </div>
    </mat-card>
</div>-->

<h2 mat-dialog-title></h2>
<mat-dialog-content>
    <prez-lesson-detail
        [lessonElement]="data.lessonElement"
    ></prez-lesson-detail>

    <prez-register-detail
        [registerElement]="data.lessonElement.register"

    ></prez-register-detail>

    <prez-professor-register-sign
        *ngIf="!data.lessonElement.register.signature"
        [lesson]="data.lessonElement"
    ></prez-professor-register-sign>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">Close</button>
</mat-dialog-actions>

