<div class="col-md-8" id="htmlData">
  <table class="table table-bordered">
    <tr class="table-primary">
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
    <tr *ngFor="let user of USERS">
      <th>{{user.id}}</th>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.phone}}</td>
    </tr>
  </table>
</div>

<div class="col-md-4 text-right">
  <button class="btn btn-success btn-block" (click)="openPDF()">Download PDF</button>
</div>

<div class="signature-container">
  <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
</div>

<div class="buttons">
  <button (click)="clearSignature()" class="btn btn-success btn-block">Clear signature pad</button>
  <button (click)="savePad()" class="btn btn-success btn-block">Save signature</button>
</div>

<div class="signature-image" *ngIf="signatureImg">
  <img src='{{ signatureImg }}' />
</div>

<input type="file" class="file-upload" (change)="setPdf($event)">

<!--
<prez-prof-view></prez-prof-view>
-->
