<div class="col-md-8" id="htmlData">
  <table class="table table-bordered">
    <tr class="table-primary">
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
    <tr *ngFor="let user of USERS">
      <th>{{user.id}}</th>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.phone}}</td>
    </tr>
  </table>
</div>

<div class="col-md-4 text-right">
  <button (click)="openPDF()" class="btn btn-success btn-block">Download PDF</button>
</div>

<div class="signature-container">
  <signature-pad (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()" [options]="signaturePadOptions"></signature-pad>
</div>

<div class="buttons">
  <button (click)="clearSignature()" class="btn btn-success btn-block">Clear signature pad</button>
  <button (click)="savePad()" class="btn btn-success btn-block">Save signature</button>
</div>

<div *ngIf="signatureImg" class="signature-image">
  <img src='{{ signatureImg }}' />
</div>

<input (change)="setPdf($event)" class="file-upload" type="file">

<!--
<prez-prof-view></prez-prof-view>
-->

<div class="center">
  <ngx-file-drop (onFileDrop)="dropped($event)" (onFileLeave)="fileLeave($event)"
                 (onFileOver)="fileOver($event)" dropZoneLabel="Drop files here">
    <ng-template let-openFileSelector="openFileSelector" ngx-file-drop-content-tmp>
      Optional custom content that replaces the the entire default content.
      <button (click)="openFileSelector()" type="button">Browse Files</button>
    </ng-template>
  </ngx-file-drop>
  <div class="upload-table">
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
      </tr>
      </thead>
      <tbody class="upload-name-style">
      <tr *ngFor="let item of files; let i=index">
        <td><strong>{{ item.relativePath }}</strong></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
