<div style="display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%">
    <div style="flex: 1"></div>
    <div style="flex: 1;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;">
        <img
            alt="prez student"
            class="img"
            height="87px"
            src="{{logo}}"
            width="100px"/>
        <div style="display: flex;
                    flex-direction: column">
            <h1>404</h1>
            <h2 style="color: #2daae1">Not Found</h2>
        </div>
    </div>
    <div style="flex: 1"></div>
</div>
