<h2 *ngIf="compareDate(data.lessonElement.start_at)" mat-dialog-title>
    <mat-icon>
        edit
    </mat-icon>
    Full fill register
    <button mat-button style="color: #2daae1" (click)="qrNavigate()">
        <mat-icon>qr_code_scanner</mat-icon>
    </button>
</h2>
<h2 *ngIf="!compareDate(data.lessonElement.start_at)" mat-dialog-title>
    <mat-icon>edit_off</mat-icon>
    Lesson not yet started
</h2>
<mat-dialog-content>
    <prez-lesson-detail
        [lessonElement]="data.lessonElement"
    ></prez-lesson-detail>
    <mat-divider></mat-divider>
    <div *ngIf="!registerElement && compareDate(data.lessonElement.start_at)">
        <h3>
            Register:
        </h3>
        <mat-card *ngFor="let registeredStudent of data.lessonElement.register.registered_students">
            <mat-card-title-group>
                <mat-card-title>{{registeredStudent.student.last_name}} {{registeredStudent.student.first_name}}</mat-card-title>
                <button (click)="changesStudentStatus(registeredStudent)" class="right" mat-button>
                    <span [style.color]="getStatusColor(registeredStudent.status)">{{registeredStudent.status}}</span>
                </button>
                <!--<mat-card-subtitle [style.color]="getStatusColor(registeredStudent.status)">{{registeredStudent.status}}</mat-card-subtitle>-->
                <img *ngIf="registeredStudent.status == 'PRESENT' && registeredStudent.proof"
                     [src]="registeredStudent.proof" mat-card-sm-image>
            </mat-card-title-group>
        </mat-card>
    </div>
    <div *ngIf="registerElement">
        <h3>
            Register:
        </h3>
        <prez-register-detail
            [registerElement]="registerElement"></prez-register-detail>
    </div>
    <prez-professor-register-sign
        (emitRefresh)="initData()"
        *ngIf="registerElement && !registerElement.signature"
        [lesson]="data.lessonElement"></prez-professor-register-sign>
    <div style="height: 10px"></div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <span *ngIf="errorMessage && !submitLoading" style="color: red">{{errorMessage}}</span>
    <span *ngIf="submitMessage && !submitLoading" style="color: green">
        <mat-icon>
            mark_email_read
        </mat-icon>
    </span>
    <button (click)="updateRegisteredStudentList(data.lessonElement.register.registered_students)" *ngIf="!registerElement && !submitLoading && compareDate(data.lessonElement.start_at)" mat-button
            style="color: #2daae1">
        Submit
    </button>
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>

