.classroom-detail{
    margin-top: 10px;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-classroom-detail{
    margin-top: 10px;
    color: gray;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
