<div class="example-table-container">
    <mat-table *ngIf="dataSource" [dataSource]="dataSource" style="display: flex; flex-direction: column; flex: 1">

        <ng-container matColumnDef="first_name">
            <mat-header-cell *matHeaderCellDef> First name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.first_name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="last_name">
            <mat-header-cell *matHeaderCellDef> Last name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.last_name}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button (click)="emitProfessorElement(row)" mat-button>
                    <mat-icon>calendar_month</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <!-- Header and Row Declarations -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
</div>
<mat-paginator [pageSize]="20" aria-label="Select page of professors"></mat-paginator>



